In [3]:
import pandas as pd
df_2016 = pd.read_csv('./my_project/tmdb_imdb_checkpoint_2016.csv')
df_2016.head()

,title,release_date,type,runtime,genre,director,cast,country,language,production_company,synopsis,tags,imdb_rating,imdb_review_count,imdb_id
0,어카운턴트,2016-10-13,movie,128,"범죄, 스릴러, 드라마",NaN,NaN,NaN,NaN,Zero Gravity Management,NaN,"prison, sniper, assassin, autism, military ser...",NaN,NaN,tt2140479
1,와일드 어웨이크닝,2016-10-23,movie,105,"드라마, 로맨스, 스릴러",NaN,NaN,NaN,NaN,Realizando Historias Films,NaN,"murder, in the closet, gay theme",NaN,NaN,tt6126506
2,미 비포 유,2016-06-01,movie,110,"드라마, 로맨스",NaN,NaN,NaN,NaN,New Line Cinema,NaN,"depression, small town, based on novel or book...",NaN,NaN,tt2674426
3,주토피아,2016-02-11,movie,108,"애니메이션, 모험, 가족, 코미디",NaN,NaN,NaN,NaN,Walt Disney Animation Studios,NaN,"sheep, allegory, lion, hippopotamus, cartoon, ...",NaN,NaN,tt2948356
4,너의 이름은,2016-08-26,movie,106,"애니메이션, 로맨스, 드라마",NaN,NaN,NaN,NaN,CoMix Wave Films,NaN,"high school, race against time, dreams, afterl...",NaN,NaN,tt5311514

In [2]:
df_2015 = pd.read_csv('./my_project/tmdb_imdb_checkpoint_2015.csv')
df_2015.head()

,title,release_date,type,runtime,genre,director,cast,country,language,production_company,synopsis,tags,imdb_rating,imdb_review_count,imdb_id
0,그레이의 50가지 그림자,2015-02-11,movie,125,"드라마, 로맨스, 스릴러",NaN,NaN,NaN,NaN,Universal Pictures,NaN,"bad smell, based on novel or book, eroticism, ...",NaN,NaN,tt2322441
1,나를 미치게 하는 여자,2015-07-17,movie,125,"코미디, 로맨스",NaN,NaN,NaN,NaN,Apatow Productions,NaN,"alcohol, surgeon, interview, romcom, one-night...",NaN,NaN,tt3152624
2,쥬라기 월드,2015-06-06,movie,125,"액션, 모험, SF, 스릴러",NaN,NaN,NaN,NaN,Amblin Entertainment,NaN,"island, primal fear, escape, velociraptor, dna...",NaN,NaN,tt0369610
3,인사이드 아웃,2015-06-17,movie,102,"애니메이션, 가족, 모험, 드라마, 코미디",NaN,NaN,NaN,NaN,Pixar,NaN,"dreams, san francisco, california, minnesota, ...",NaN,NaN,tt2096673
4,신데렐라,2015-03-06,movie,113,"로맨스, 판타지, 가족, 드라마",NaN,NaN,NaN,NaN,Walt Disney Pictures,NaN,"magic, kingdom, fairy tale, prince, royalty, o...",NaN,NaN,tt1661199

In [4]:
df_2016.shape

(10000, 15)

In [4]:
df_2015.shape

(10000, 15)

In [6]:
df_2015_col = df_2015.columns

In [7]:
df_2015.data

AttributeError: 'DataFrame' object has no attribute 'data'

In [6]:
df_2015.isnull().sum()

title                     0
release_date              0
type                      0
runtime                   0
genre                   902
director              10000
cast                  10000
country               10000
language              10000
production_company     3324
synopsis              10000
tags                   5015
imdb_rating           10000
imdb_review_count     10000
imdb_id                1588
dtype: int64

In [7]:
df_2017 = pd.read_csv('./my_project/tmdb_imdb_checkpoint_2017.csv')
df_2017.head()

,title,release_date,type,runtime,genre,director,cast,country,language,production_company,synopsis,tags,imdb_rating,imdb_review_count,imdb_id
0,토르: 라그나로크,2017-10-02,movie,130,"액션, 모험, SF",NaN,NaN,NaN,NaN,Marvel Studios,NaN,"superhero, based on comic, sequel, alien plane...",NaN,NaN,tt3501632
1,가디언즈 오브 갤럭시 Vol. 2,2017-04-19,movie,136,"SF, 모험, 액션",NaN,NaN,NaN,NaN,Marvel Studios,NaN,"superhero, based on comic, sequel, misfit, spa...",NaN,NaN,tt3896198
2,스타워즈 에피소드 8: 라스트 제다이,2017-12-13,movie,152,"모험, 액션, SF",NaN,NaN,NaN,NaN,Lucasfilm Ltd.,NaN,"bunker, space battle, defeat, failure, sequel,...",NaN,NaN,tt2527336
3,킹스맨: 골든 서클,2017-09-20,movie,141,"액션, 모험, 코미디, 범죄",NaN,NaN,NaN,NaN,20th Century Fox,NaN,"saving the world, spy, europe, sequel, secret ...",NaN,NaN,tt4649466
4,존 윅: 리로드,2017-02-08,movie,122,"액션, 스릴러, 범죄",NaN,NaN,NaN,NaN,Thunder Road,NaN,"martial arts, assassin, hitman, italy, roof, s...",NaN,NaN,tt4425200